java/org.eclipse.set.model.planpro/schema/1.10.0.3/PlanProInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nsPlanProInformation="http://www.exampleURI.com/PlanProInformation"
           targetNamespace="http://www.exampleURI.com/PlanProInformation">
	  <xs:annotation>
		    <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.1.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbinfrago.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Bei Fragen zum Schema wenden Sie sich bitte an planpro@deutschebahn.com

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.1.

More information about the license can be found on
http://www.dbinfrago.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
	  </xs:annotation>
	  <xs:element name="WorkflowInformation" type="nsPlanProInformation:WorkflowInformation"/>
	  <xs:simpleType name="ENUMObjectType">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="LST_OBJECT"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="WorkflowInformation">
		    <xs:all>
			      <xs:element name="ExampleValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
			      <xs:element name="ObjectType" type="nsPlanProInformation:ENUMObjectType" minOccurs="0"
                     maxOccurs="1"/>
			      <xs:element name="PlanningStage" type="xs:string" minOccurs="0" maxOccurs="1"/>
			      <xs:element name="ProposedValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
		    </xs:all>
	  </xs:complexType>
</xs:schema>